<!DOCTYPE html>
<html>
<head>
  <title>World Happiness Report</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <link rel="stylesheet" href="{{url_for ('static', filename='css/introjs.css')}}" />
</head>
<body class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">World Happiness Report 2015</a>
        <button id="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!</button>
        <button id="reset_button" type="button" autofocus onclick="javascript:dc.filterAll(); dc.renderAll();">Reset All!</button>
      </div>
    </div>
  </div>







  <div  id="outer" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">

          <!-- Resources -->
          <div class="col-sm-3">
            <div class="chart-wrapper" data-step="1" data-intro="This graph displays the numbers of countries with arbitrarily depressing definitions of differing levels of happiness! (Click 'Very Low Happiness' and marvel at the high fraction of (misguided)trust in goverments!)" style="font-weight: normal" data-position="right">
              <div class="chart-title">
                Happiness levels in Countries
              </div>
              <div class="chart-stage" >
                <div id="happiness-levels-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources -->



          <!-- regionHappiness -->
          <div class="col-sm-9">
            <div class="chart-wrapper" data-step="2" data-intro="This graph displays the average 'happiness score' of total regions in the world. Useful when confronted with 'shady' travel agents boasting low priced hoildays in Sub-Saharan Africa." style="font-weight: normal" data-position="right">
              <div class="chart-title">
                Happiness Scores of all regions
              </div>
              <div class="chart-stage">
                <div id="regionHappiness"></div>
              </div>
            </div>
          </div>
          <!-- regionHappiness -->
        </div>
        <div class ="row">
 
          
 
          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Family Size
              </div>
              <div class="chart-stage">
                <div id="family-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          

          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Life Expectancy
              </div>
              <div class="chart-stage">
                <div id="health-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          <!-- funding Pie -->
          <div class="col-sm-2" data-step="3" data-intro="Each Pie chart shows the attributes of the countries selected, and if the data is to be believed, it turns out everyone is wrong! Money does bring you happiness!" style="font-weight: normal" data-position="right">
            <div class="chart-wrapper">
              <div class="chart-title">
                Economy (GDP)
              </div>
              <div class="chart-stage">
                <div id="economy-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Freedom
              </div>
              <div class="chart-stage">
                <div id="freedom-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Trust in Government
              </div>
              <div class="chart-stage">
                <div id="trust-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Generosity
              </div>
              <div class="chart-stage">
                <div id="generosity-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->
        </div>







        </div>
      </div>




      
 
      <!-- Metric 1 -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Donations
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->
 
      <!-- Metric 2 -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Donations in USD
          </div>
          <div class="chart-stage">
            <div id="menu-select"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->
    </div>
  </div>
  <hr>
  <p class="small text-muted"> <a href="https://www.kaggle.com/unsdsn/world-happiness" >Source of the data set used.</a></p>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{url_for ('static', filename='js/intro.js')}}" type="text/javascript"></script>

</body>
</html>


