<!DOCTYPE html>
<html>
<head>
  <title>World Happiness Report</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
</head>
<body class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">World Happiness Report 2015</a>
      </div>
    </div>
  </div>







  <div  id="outer" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">

          <!-- Resources -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Happiness levels in Countries
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources -->



          <!-- regionHappiness -->
          <div class="col-sm-9">
            <div class="chart-wrapper">
              <div class="chart-title">
                Happiness Scores of all regions
              </div>
              <div class="chart-stage">
                <div id="regionHappiness"></div>
              </div>
            </div>
          </div>
          <!-- regionHappiness -->
 
          
 
          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Family
              </div>
              <div class="chart-stage">
                <div id="family-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          

          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Life Expectancy
              </div>
              <div class="chart-stage">
                <div id="health-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Economy
              </div>
              <div class="chart-stage">
                <div id="economy-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Freedom
              </div>
              <div class="chart-stage">
                <div id="freedom-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Trust
              </div>
              <div class="chart-stage">
                <div id="trust-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          <!-- funding Pie -->
          <div class="col-sm-2">
            <div class="chart-wrapper">
              <div class="chart-title">
                Generosity
              </div>
              <div class="chart-stage">
                <div id="generosity-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->

          <!-- funding Pie -->
          <!--<div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Happiness COunts
              </div>
              <div class="chart-stage">
                <div id="happy-counts"></div>
              </div>
            </div>
          </div>-->
          <!-- funding Pie -->






        </div>
      </div>

      <!-- Poverty -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Poverty Level
          </div>
          <div class="chart-stage">
            <div id="poverty-level-row-chart"></div>
          </div>
        </div>
      </div>
      <!-- Poverty -->
 
      <!-- menu select -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Donation State
          </div>
          <div class="chart-stage">
            <div id="region-happiness-chart"></div>
          </div>
        </div>
      </div>
      <!-- menu select -->

      
 
      <!-- Metric 1 -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Donations
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->
 
      <!-- Metric 2 -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Donations in USD
          </div>
          <div class="chart-stage">
            <div id="menu-select"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->
    </div>
  </div>
  <hr>
  <p class="small text-muted"> Data viz &#9829; from Code Institute</p>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>

  <a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
</body>
</html>


